.modal
	--ejm-layout-background-color: rgba(0, 0, 0, 0.5)
	--ejm-animation-duration: 0.3s
	--ejm-window-background-color: #fff
	--ejm-window-width: 90%
	--ejm-window-max-width: 500px
	--ejm-window-padding: 2rem
	--ejm-window-border-radius: 5px
	--ejm-close-font-size: 1.25rem

	display: none
	position: fixed
	inset: 0
	background-color: var(--ejm-layout-background-color)
	justify-content: center
	align-items: flex-start
	z-index: 1000
	opacity: 0
	transition: opacity var(--ejm-animation-duration)
	pointer-events: none

	&--visible
		pointer-events: auto
		opacity: 1
		overflow-y: scroll

	&__window
		margin: auto
		background-color: var(--ejm-window-background-color)
		padding: var(--ejm-window-padding)
		border-radius: var(--ejm-window-border-radius)
		position: relative
		width: var(--ejm-window-width)
		max-width: var(--ejm-window-max-width)
		transform: translateY(-50px)
		opacity: 0
		transition: all var(--ejm-animation-duration)

		&--visible
			transform: translateY(0)
			opacity: 1

	&__close
		position: absolute
		top: 0.5rem
		right: 0.5rem
		background-color: transparent
		border: none
		font-size: 1.25rem
		cursor: pointer
